body,
html {
  font-family: "DM Sans", sans-serif;
  font-weight: 100;
  background: white;
  --minFontSize: 16px;
  --maxFontSize: 24px;
  --scaler: 10vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: aquamarine;
}

#world {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: yellow;
}
